<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
            <!-- <====== Contenu de <head> =====> -->
            {include file='../partials/contenu_index/head.html'}
            <!-- <====== End Contenu de <head> =====> -->
    </head>
        <body>
            <header>
                <!-- <====== Top Barre =====> -->
                {include file='../partials/contenu_index/top_barre.html'}
                <!-- <====== End Top Barre =====> -->

                <!-- <====== Logo Barre =====> -->
                {include file='../partials/contenu_index/logo_barre.html'}
                <!-- <====== End Logo Barre =====> -->

                <!-- <====== Menu principal =====> -->
                {include file='../partials/contenu_index/menu.html'}
                <!-- <====== End Menu principal =====> -->			
	    	</header>
		    <div class="site-main-container">
                <!-- <====== Top Section =====> -->
                {include file='../partials/contenu_index/top_section.html'}
                <!-- <====== End Top Section =====> -->
                
                
                                            <!-- <====== Colonne 1 =====> -->
                <section class="latest-post-area pb-120">
                <!-- <====== Section Actuallité =====> -->
                {include file='../partials/contenu_index/Colonne1/actualite_section.html'}
                <!-- <====== End Section Actuallité =====> -->

                <!-- <====== Section Kiosque =====> -->
                {include file='../partials/contenu_index/Colonne1/kiosque_section.html'}
                <!-- <====== End Section Kiosque =====> -->


                <!-- <====== Section Vidéo =====> -->
                {include file='../partials/contenu_index/Colonne1/video_section.html'}
                <!-- <====== End Section Vidéo =====> -->			 
            </div>
                                        <!-- <====== End Colonne 1 =====> --> 
                                        
                                        <!-- <====== Colonne 2 =====> -->
            <div class="col-lg-4">
                <div class="sidebars-area">
                    <!-- <====== Zoom Sur =====> -->
                    {include file='../partials/contenu_index/Colonne2/zoom_sur.html'}
                    <!-- <====== End Zoom Sur =====> -->
                    
                    
                    <!-- <====== Newsletter =====> -->
                    {include file='../partials/contenu_index/Colonne2/newsletter.html'}           
                    <!-- <====== End Newsletter =====> -->
                    
                    
                    <!-- <====== Fil d'actualité =====> -->   
                    {include file='../partials/contenu_index/Colonne2/fil_actualite.html'}                       
                    <!-- <====== End Fil d'actualité =====> -->
                    
                    
                    <!-- <====== Réseaux Sociaux =====> -->
                    {include file='../partials/contenu_index/Colonne2/reseaux_sociaux.html'}                                  
                    <!-- <====== End Réseaux Sociaux =====> -->
				</div>
		    </div>
                                            <!-- <====== End Colonne 1 =====> -->
                 </section>
        <!-- <====== Footer =====> -->
        {include file='../partials/contenu_index/footer.html'}
        <!-- <====== End Footer =====> -->
        
         <!-- <====== Script =====> -->
         {include file='../partials/contenu_index/scripts.html'}
         <!-- <====== End Script =====> -->
	</body>
</html>