 <!-- <====== Script =====> -->
 <script src="{$url_base}public/magazine/js/vendor/jquery-2.2.4.min.js"></script>
 <script src="{$url_base}https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="{$url_base}public/magazine/js/vendor/bootstrap.min.js"></script>
 <script src="{$url_base}https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
 <script src="{$url_base}public/magazine/js/easing.min.js"></script>
 <script src="public/magazine/js/hoverIntent.js"></script>
 <script src="{$url_base}public/magazine/js/superfish.min.js"></script>
 <script src="{$url_base}public/magazine/js/jquery.ajaxchimp.min.js"></script>
 <script src="{$url_base}public/magazine/js/jquery.magnific-popup.min.js"></script>
 <script src="{$url_base}public/magazine/js/mn-accordion.js"></script>
 <script src="{$url_base}public/magazine/js/jquery-ui.js"></script>
 <script src="{$url_base}public/magazine/js/jquery.nice-select.min.js"></script>
 <script src="{$url_base}public/magazine/js/owl.carousel.min.js"></script>
 <script src="{$url_base}public/magazine/js/mail-script.js"></script>
 <script src="{$url_base}public/magazine/js/main.js"></script>

 
<script type="text/javascript" src="{$url_base}public/js/validation.js"></script>
  <!-- <====== End Script =====> -->